@import url(style.css);

.main-box {
    position: relative;
    top: -450px;
    margin: auto;
    display: block;
    width: 750px;
    height: auto;
    background: whitesmoke;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
 }

 .pro-jpg {
    text-align: center;
 }

 .pro-cont {
    padding: 55px;
 }

 .h-cont {
    padding-bottom: 20px;
    border-bottom: solid 2px lightgray;
    margin-bottom: 20px;
 }

 .b-cont {
    border-bottom: solid 2px lightgray;
    padding-bottom: 20px;
 }